#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.event-description {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.event-description p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

/* Event Images styles */
.event-images {
  text-align: center;
}

.event-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Container styles */
div {
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
  text-align: center;
  color: #333;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Input field styles */
label {
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Error message styles */
.error {
  color: #ff0000;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Button styles */
button {
  background-color: #003369;
  color: #000361;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  margin: auto;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: left;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer h3 {
  margin: 0;
}

.footer ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.footer li {
  margin: 10px 50px;
  align-items: center;
  display: inline-block;
}

.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #007bff;
}

.header {
  width: 100%;
  background-color: #620b0b;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header .logo img {
  max-width: 100px; /* Adjust the logo size as needed */
  height: auto;
  margin-right: 10px;
}

.header div {
  align-items: left;
  margin-right: 10px;
  margin-left: 10px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}
